$popup-background: rgba(52,56,67,0.5);
$primary: #ffffff;
$secondary: #8B93A3;
$accent: #FF3B30;
$text: #3D424D;
$border-light: #D7DEEA;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

html, body{
  height: 100%;
  text-align: center;
}

.popup{
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  background-color: $popup-background;
  width: 100vw;
  height: 100vh;
}

.popup_hidden{
  display: none;
}

.popup-body{
  margin: auto;
  position: relative;

  background-color: $primary;
  width: 580px;
  border-radius: 5px;
  text-align: center;
}

.button{
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
}

.button:hover{
  opacity: 0.7;
}

.popup-body__close-button{
  position: absolute;
  left: 20px;
  top: 20px;
}

.popup-body__image{
  padding-top: 40px;
  padding-bottom: 40px;
}

.popup-body__text{
  font-size: 24px;
  font-weight: 300;
  color: $text;
}

.text{
  width: 70%;
  margin: auto;
}

.text-button{
  @extend .button;
  font-weight: bold;
  font-size: 14px;
  border: $border-light 2px solid;
  border-radius: 5px;
  padding: 5px 70px 5px 70px;
}

%button-aligned{
  margin: 50px 10px 50px 10px;
}

.popup-body__cancel-button{
  @extend %button-aligned;
  color: $secondary;
}

.popup-body__uninstall-button{
  @extend %button-aligned;
  color: $primary;
  background-color: $accent;
  border-color: $accent;
  border-bottom-color: #D93229;
}

.open-button{
  @extend .text-button, %button-aligned;
  color: $accent;
  border-color: $accent;
}